# IDE
.idea/
*.iws
*.iml
*.ipr

# Build
target/
out/
cmake-build-*/

# IntelliJ plugins
.idea_modules/
atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
http-client.private.env.json